@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BRIVE SUCURSAL</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>En esta pagina podras agregar Nuevos Productos, Modificar los ya existentes, Eliminarlos y Visualizar Todos los existentes en la Base de Datos</p>

    </div>
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>En esta Pagina podras agregar Nuevos Usuarios, Modificar los ya existentes, Eliminar un usuario y Visualizar Todos los existentes en la Base de Datos</p>
  
    </div>
    <div class="col-md-4">
        <h2>Venta</h2>
        <p>En esta pagina podras observar los productos que estan a la venta y poderlos agregar a un carrito de compras</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>